/* -------------------------------------------------------------------------- */
/*                                  Variables                                 */
/* -------------------------------------------------------------------------- */

/* --------------------------------- Colors --------------------------------- */
$white: #ffffff;
$off-white: #efefef;
$black: #484041;
$primary: #f52;
$secondary: #79aea3;
$warning: #f4d06f;
$danger: #e88873;

/* ------------------------------- Typography ------------------------------- */
